@font-face {
  font-family: 'Muli';
  src: url('../assets/fonts/Muli-Bold.ttf') format('ttf');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Muli';
  src: url('../assets/fonts/Muli-Regular.ttf') format('ttf');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Muli';
  src: url('../assets/fonts/Muli-Light.ttf') format('ttf');
  font-style: normal;
  font-weight: 300;
}